.App {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#mode-container {
  float: right;
  margin-left: 100px;
  margin-right: 100px;
}

#toggle-container {
  outline: none;
  float: right;
}

.main {
  margin-left: 100px;
  margin-right: 100px;
  max-width: 500px;
}

.post {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}

.posts {
  text-align: left;
}

.divider {
  border: 1px solid
}