.App {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#mode-container {
  float: right;
  margin-left: 100px;
  margin-right: 100px;
}

#toggle-container {
  outline: none;
}

#sun-icon {
  color: #ffd712;
}

@media (max-width: 379px) {
  #mode-container-divider {
    height: 200px;
    width: 0;
  }
  #toggle-container {
    float: left;
  }
}

@media (min-width: 380px) {
  #mode-container-divider {
    height: 150px;
    width: 0;
  }
  #toggle-container {
    float: right;
  }
}


.main {
  margin-left: 100px;
  margin-right: 100px;
  max-width: 500px;
}

.post {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}

.posts {
  text-align: left;
}

.post-divider {
  border: 1px solid
}